Source: libdecomputil
Section: libs
Priority: optional
Maintainer: Jorge <jorge@example.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/bcoltinnasa/DecompUtil

Package: libdecomputil
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for decomposition utilities
 This package provides decomposition utilities used in scientific computing
